<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.orderMeal.mapper.PaidOrderMapper">
    <select id="selectPaidOrderByUid" resultType="PaidOrder">
        select * from paid_order where uid = #{uid}
    </select>
    <insert id="insertPaidOrder">
        insert into paid_order(mealList,uid,odate,priceList) values(#{mealList},#{uid},#{odate},#{priceList})
    </insert>
</mapper>